                        <div class="course_tabs_container">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="tabs d-flex flex-row align-items-center justify-content-start">
                                            <div class="tab active">description</div>
                                            <div class="tab">Lession</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>